# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
a = 5
b = 5
print(f'is a = b: {a == b}')
print(f'id(a) = {id(a)} \nid(b) = {id(b)}')
print(f'is a and b refer to the same object in memory: {id(a) == id(b)}')

is a = b: True
id(a) = 137225791897968
id(b) = 137225791897968
is a and b refer to the same object in memory: True

Змінні однакові за значенням, а також посилаються на один і той самий об'єкт в пам'яті.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
var = True
print(type(var))

<class 'bool'>

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [7]:
a = 25
b = 8.7

sum = a + b
subtr = a - b
division = a / b
multiply = a * b
floor_division = a // b
modulo = a % b
pow = a ** b

print(f'{a} + {b} = {sum}')
print(f'{a} - {b} = {subtr}')
print(f'{a} / {b} = {division}')
print(f'{a} * {b} = {multiply}')
print(f'{a} // {b} = {floor_division}')
print(f'{a} % {b} = {modulo}')
print(f'{a} ** {b} = {pow}')

25 + 8.7 = 33.7
25 - 8.7 = 16.3
25 / 8.7 = 2.873563218390805
25 * 8.7 = 217.49999999999997
25 // 8.7 = 2.0
25 % 8.7 = 7.600000000000001
25 ** 8.7 = 1452372694943.1414

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [9]:
b_int = int(b)
print(f'Type of {b_int} is {type(b_int)}')

boolean = True

boolean_int = int(boolean)
print(f'Type of {boolean_int} is {type(boolean_int)}')

Type of 8 is <class 'int'>
Type of 1 is <class 'int'>

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [10]:
str_1 = ''
str_2 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [14]:
s = "My cat's toy"
s_raw = r"{}".format(s)

print(s)
print(s_raw)

My cat's toy
My cat's toy

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
surname = 'Stoliaruk'
s = 'My surname is ' + surname
print(s)

My surname is Stoliaruk

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
s = "My dog is crazy."
s = s.lower()
s = s.replace('.', '')
list_s = s.split(' ')
print(list_s)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
list_1 = [1, 2, 3]
list_2 = list()

print(len(list_1))
print(len(list_2))

3
0

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
list_1 = [1, 2, 3]
list_2 = ['a', 'b']
list_1.append(list_2)

print(list_1)

[1, 2, 3, ['a', 'b']]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [ ]:
list_of_lists = [[1, 2, 3], ['a', 'b', 'c'], ['yuliia', 45]]
first_el_of_last_row = list_of_lists[-1][0]
print(first_el_of_last_row)

yuliia

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
l = [1, 'a', [1, 90], 4.5, 'y', list_1, list_2, 8, 7, 9]
new_l = l[2:-2]
print(new_l)

[[1, 90], 4.5, 'y', [1, 2, 3, ['a', 'b']], ['a', 'b'], 8]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
tup = (1)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Схожість: Елементи в обох структурах можуть бути доступні за допомогою індексів.

Відмінності:
1.   Список - змінні, кортеж - незмінний
2.   Список - [ ], кортеж - ( )
3.   Кортежі використовуються, якщо для статичних данних. Списки - якщо дані планують змінювати.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [ ]:
tup = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
l = list(tup)
l.reverse()
l = l[0:len(l)-1:2]
tup_l = tuple(l)
print(tup_l)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [5]:
set_1 = set()

set_1.add(1)
set_1.add('a')
set_1.add('foo')

print(set_1)
print(type(set_1))

{1, 'a', 'foo'}
<class 'set'>

Множина є зміненним типом данних, але елементи, що містяться в множинні, повинні бути незмінного типу.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [6]:
my_list = [1, 1, 2, 67, 67, 8, 9]

set_2 = set(my_list)

print(set_2)

{1, 2, 67, 8, 9}

Елементи у множинні повинні бути унікальними, тому дублікати видаляються.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [12]:
set_1 = {1, 2, 3, 4, 5, 6}
set_2 = {2, 4, 6, 8, 10, 22}

#обʼєднання
union_set = set_1.union(set_2)
print(f"Об'єднання множин: {union_set}")

#різниця
difference_set = set_1.difference(set_2)
print(f"Різниця множин: {difference_set}")

#пересіч
intersection_set = set_1.intersection(set_2)
print(f"Пересіч множин: {intersection_set}")

#симетрична різниця
symmetr_diff_set = set_1.symmetric_difference(set_2)
print(f"Симетрична різниця множин: {symmetr_diff_set}")

Об'єднання множин: {1, 2, 3, 4, 5, 6, 8, 10, 22}
Різниця множин: {1, 3, 5}
Пересіч множин: {2, 4, 6}
Симетрична різниця множин: {1, 3, 5, 8, 10, 22}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [3]:
dict_1 = dict()

dict_1[3] = 'c'
dict_1[(1, 5)] = 'apple'
dict_1[True] = 1
dict_1[float] = 8.4

print(dict_1)

{3: 'c', (1, 5): 'apple', True: 1, <class 'float'>: 8.4}

Список **не може** бути ключем. Ключі у словнику повинні бути незмінних типів, а список - змінний тип даних.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [5]:
dict_students = {'student_1': {'name': 'Yuliia',
                               'surname': 'Stoliaruk',
                               'course': {'credits': 4,
                                          'name': 'Python for Big Data and Data Science'}}}

course_name = dict_students['student_1']['course'].get('name')
print(course_name)

Python for Big Data and Data Science

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.